@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$breakpoints: (
  'xs': 400px,
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px,
);

$xs: 400px;
$sm: 640px;
$md: 768px;
$lg: 1025px;
$xl: 1280px;
$xl2: 1536px;

$ff-montserat: 'Montserrat';

$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-base: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 1.875rem;
$fs-4xl: 2.25rem;
$fs-5xl: 3rem;

//Colors

$color-snow: hsl(26, 100%, 99%);

$fc-dark: #1b1b1b;
$fc-light: #f0f0f0;
$fc-gray: #4b4f42;

$bg-darkBlue: #17212d;

//Stock Colors

$dark-jungle-green: hsl(188, 63%, 7%);
$prussian-blue: hsl(200, 69%, 14%);
$raisin-black-1: hsl(227, 29%, 13%);
$raisin-black-2: hsl(229, 17%, 19%);
$yellow-green: hsl(89, 72%, 45%);
$orange-soda: #55af7b;
$red-listing: #ee2540;
$cultured-1: hsl(0, 0%, 93%);
$cultured-2: hsl(192, 24%, 96%);
$misty-rose: hsl(111, 57%, 91%);
$alice-blue: hsl(210, 100%, 97%);
$seashell: hsl(128, 100%, 97%);
$cadet: hsl(200, 15%, 43%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$opal: hsl(180, 20%, 62%);

//Box-Shaddw

$box-shaddow1: 0px 0px 20px rgba(0, 0, 0, 0.2);
