@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$breakpoints: (
  'xs': 400px,
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px,
);

$xs: 400px;
$sm: 640px;
$md: 768px;
$lg: 1025px;
$xl: 1280px;
$xl2: 1536px;

$ff-montserat: 'Montserrat';

$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-base: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 1.875rem;
$fs-4xl: 2.25rem;
$fs-5xl: 3rem;

//+++ THEME COLORS

//Font Colors - Theme

$fc-blueDarkHeader: #293d50;
$fc-dark: #1b1b1b;
$fc-darkGray: #444;
$fc-lightGray: #a0a0a1;
$fc-white: #fff;

/*******/ // Theme Blue Variations/*******/

//*******// MAIN ACCENT COLOR
$blueAccent: #027bff; //ButtonsFull, Logo Symbol, Menu transparency (same blue @0.7)
$blueAccentLight: #007bff; //Alternative lighter shade

/**/ //Fonts

$blueMenuFont: #08468b; //Navbar Menu items & Icons
$blueLogo: #00366f; //LogoFont
//**//Backgrounds:
$whiteBackground: #fff;
$blueSectionLight: #ecf5ff; //Alternate light color for sections
$blueMain: #17409e; // Banner bg-dark
$blueMainLight: #1545b2; //Banner bg-light
$blueBackground: #004a99; //For the footer
$blueSectionShade: #00458f; //Cards??
$blueBannerDark: #17409e;
$blueBannerLight: #1545b2;

/*******/ // End of Theme Blue Variations/*******/

//*******//Theme Colors 2

$Pink: #ff689b;
$Yellow: #e8bf04;
$Turquoise: #40cdc7;
$Green: #40cf2e;
$Blue: #4680ff;

//Box-Shaddw

$box-shaddow1: 0px 0px 20px rgba(0, 0, 0, 0.2);
