@use '../utilities' as *;

.questionSelector {
  #btnAktion {
    cursor: pointer;

    #dark1,
    #light1,
    #dark2,
    #womanRunning {
      transition: all 0.5s ease;
      pointer-events: none;
    }

    #light1 {
      fill: $Pink;
      opacity: 1;
    }

    #dark1,
    #dark2 {
      fill: $blueAccent;
      opacity: 1;
    }

    #dark2 {
      transform: translateX(-100%);
    }

    &:hover {
      #light1 {
        transform: translateX(25%);
      }
      #dark1 {
        transform: translateX(40%);
        opacity: 0;
      }
      #dark2 {
        transform: translateX(0%);
      }
    }
  }

  #btnStabil {
    cursor: pointer;

    #dark1,
    #dark2,
    #light1,
    #bar,
    #womanChair {
      transition: all 0.5s ease;
      pointer-events: none;
      opacity: 1;
    }

    #bar {
      fill: $whiteBackground;
      transform-origin: center bottom;
      transform-box: fill-box;
    }

    #light1 {
      fill: $Pink;
    }

    #dark1,
    #dark2 {
      fill: $blueAccent;
    }

    &:hover {
      #bar {
        transform-origin: center bottom;
        transform-box: fill-box;
        transform: rotate(10deg);
      }

      #dark1 {
        transform: translateY(-6px);
      }

      #dark2 {
        transform: translateY(6px);
      }
    }

    // @include mq('lg') {
    //   width: 250px;
    //   height: auto;
    // }
  }

  #btnAufgaben {
    cursor: pointer;
    transition: all 0.15s ease;
    #clipboard {
      pointer-events: none;
    }

    #checkbox1,
    #checkbox2,
    #checkbox3 {
      opacity: 0;
    }

    #checkbox3 {
      transition-delay: 0.15s;
    }
    #checkbox2 {
      transition-delay: 0.25s;
    }
    #checkbox1 {
      transition-delay: 0.35s;
    }

    &:hover {
      #checkbox1,
      #checkbox2,
      #checkbox3 {
        opacity: 1;
      }
    }
  }

  #btnMenschen {
    cursor: pointer;
    #ManGroup,
    #WomanGroup {
      pointer-events: none;
      transform-origin: center;
      transform-box: fill-box;
      transition: all 0.4s ease;
    }

    #ManGroup {
      transform: translateX(-2px) rotate(0deg);
    }
    #WomanGroup {
      transform: translateX(2px) rotate(0deg);
    }

    &:hover {
      #ManGroup {
        transform: translateX(-2px) rotate(-7deg);
      }

      #WomanGroup {
        transform: translateX(2px) rotate(7deg);
      }
    }
  }

  #fourthPage {
    width: 300px;
    height: 300px;
  }
}
