@use '../utilities' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

// html,body{
//     position: relative;
// }

html {
  font-family: $ff-montserat;
  background-color: $color-snow;

  //display: grid;
  // grid-template-rows: 82px 1fr;
  // grid-template-columns: 360px 1fr;

  // @include mq("sm"){
  //     grid-template-areas: "nav nav"
  //                         "sidebar main"  ;
  // }
}

// .CookieConsent{
//     align-items: center !important;
// }

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
