@use '../utilities' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

// html,body{
//     position: relative;
// }

html {
  font-family: $ff-montserat;
  background-color: $whiteBackground;
}

// .CookieConsent{
//     align-items: center !important;
// }

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// button {
//   font: inherit;
//   border: none;
//   background: none;
//   cursor: pointer;
// }

.containerM {
  max-width: 1440px;
  margin: 0 auto;
}
